*{
    background-color: peru;
    font-family: Arial, Helvetica, sans-serif;
}

header nav{
    margin-top: 3%;
}

header nav ul li{
    display: inline;
    padding: 240px;
    font-size: 140%;
}

header nav ul li a{
    text-decoration: none;
    color: black;
}

#socialNetwork{
    margin-top: 3%;
    margin-left: 43%;
    background-color: #131313;
    padding: 1%;
    width: 11%;
    border-radius: 5px; 
    border-color: #131313;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: white;
}

#socialNetwork:hover{
    cursor: pointer;
    color: peru;
    background-color: #000;
}

h2{
    text-align: center;
    font-size: 500%;
    margin-top: 2%;
}

.card-main{
    margin-left: 21%;
}
   
.card{
    width: 20%;
    display: inline-block;
    box-shadow: 2px 2px 20px black;
    border-radius: 5px; 
    margin: 2%;
}
   
.image img{
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
   
.title{
    text-align: center;
    padding: 10%;
}
   
.title h3{
    font-size: 20px;
    color: white;
}
   
.des{
    padding: 10px;
    text-align: center;    
    padding-top: 5%;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.des p{
    color: black;
    font-size: 16px;
}

.btn3{
    margin-top: 15%;
    margin-bottom: 5%; 
    background-color: #000;
    border: 1px solid black;
    color: white;
    border-radius: 5px;
    padding: 3%; 
}

.btn3:hover{
    cursor: pointer;
    color: peru;
    background-color: #000;
}